html {
    scroll-behavior: smooth;
  }

button, a {
    border: none;
    cursor: pointer;
    padding: 0px;
    outline-style: none;
    background-color: transparent;
}


.light {
    --text: #000000;
    --background: lightskyblue; 
}

.dark {
    --text: #ffffff;
    --background: darkblue;
}

.Frankie {
    color: blue;
    border: 2px solid lightskyblue
}

.Lusinda {
    color: red;
    border: 2px solid lightcoral
}

.bubble {
    margin: 2px;
    background-color: beige;
    display: block;
    padding: 8px
}

.narration {
    color: saddlebrown
}

.section {
    --_background: var(--background, darkgrey);
    --_text: var(--text, white);

    background-color: var(--_background);
    color: var(--_text);
    min-height: 100vh;
    padding: 8px;
    margin-top: 8px
}

.section-header {
    margin: 2px
}

.text-messages {
    border: 2px solid blue ;
    padding: 4px;
    font-size: 24px
}

.e-mail {
    border: 2px solid red ;
    padding: 4px;
}

.live-talk {
    border: 2px solid purple ;
    padding: 4px;
}

.visible {
    display: block
}

.invisible {
    display: none
}

/* questi sono i button principali */

.change-language {
    background-color: cyan;
}

.go-to-section {
    background-color: darksalmon;
}

.go-to-chapter {
    background-color: greenyellow
}